<!doctype html>
<html lang="ja">
<head>
	<title>Signin</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
</head>
<body>
    <div class="container">
        <div class="head">
            <h2>アカウントでログイン</h2>
        </div>
        <form action="#" method="post">
            <label>学籍ID:
                <input type="text" name="User_code" required>
            </label>
            <br>
            <button type="submit">送信</button>
            <button type="reset">消去</button>
        </form>
        <p>
            <span>初めての方は<a href="/signup">コチラ</a></span>
        </p>
    </div>
</body>

</html>