<!doctype html>
<html lang="ja">
<head>
    <title>マイページ</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/change-tab.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage-admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logout.css') }}">
</head>
<body>
{% if logout %}
    {{ logout |safe}}
{% endif %}
<div id="user-page" class="container">
    <div id="header">
        <div id="titles">
            <h1>マイページ</h1>
            <div id="user_info">
                こんにちは、<b>{{ User_code }}  {{ User_name }}</b>さん!
            </div>
        </div>
        <img src="{{ url_for("static",filename="images/kanrisya.png") }}" alt="">
    </div>
    <div id="body">
        <fieldset id="information">
            <legend><h3>お知らせ！</h3></legend>
            {% if not is_completed_health %}
                <p id="is_completed_health">☆☆☆今日の健康記録を入力してください☆☆☆  >> <a href="/mypage:{{ User_code }}/edit/health">入力する</a></p>
            {% endif %}

            {% if not is_completed_activity %}
                <p id="is_completed_activity">☆☆☆今日の行動記録を入力してください☆☆☆  >> <a href="/mypage:{{ User_code }}/edit/activity">入力する</a></p>
            {% endif %}

            {% if ( is_completed_health and is_completed_activity) %}
                <p>☆☆☆お知らせはありません☆☆☆</p>
            {% endif %}
        </fieldset>
    <div id="controller">
        <div id="select_button">
            <button class="menuButton" data-menu="menu1">記入</button>
            <div id="menu1" class="menu">
                {% if not is_completed_health %}
                    <a href="/mypage:{{ User_code }}/edit/health">健康記録表</a>
                {% endif %}
                <a href="/mypage:{{ User_code }}/edit/activity">行動記録表</a>
                <a href="/mypage:{{ User_code }}/edit/infection">感染記録表</a>
                <a href="/mypage:{{ User_code }}/edit/vaccine">ワクチン接種記録表</a>
            </div>
            <button class="menuButton" data-menu="menu2">編集</button>
            <div id="menu2" class="menu">
                <a href="/mypage:{{ User_code }}/edit/update">テーブル追加</a>
                <a href="/mypage:{{ User_code }}/edit/delete">テーブル削除</a>
            </div>
            <button class="menuButton" onclick="location.href = '/mypage:{{ User_code }}/logout'">
                ログアウト
            </button>
        </div>
        <div id="filter">
            <input type="text" readonly value="{{ session["target_data"]["User_code"][0] }}"/>
            <button id="filtter" class="menuButton" data-menu="menu3">🔍</button>
            <div id="menu3" class="menu">
                <div class="form-group">
                    <label for="selectOption">学籍番号</label>
                    {% for member in members_list %}
                        <a href="/fetch:{{ session["user_data"]["User_code"][0]}}" value="{{ member }}" class="a_members">{{ member }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="logs-table">
        <div class="tab-wrap">
            <input id="health-tab" type="radio" name="TAB" class="tab-switch" checked />
            <label class="tab-label" for="health-tab">体調観察表</label>
            <div class="tab-blank"></div>
            <div class="tab-content">
                <table>
                    <thead>
                    <tr>
                        <th>体温</th>
                        <th>筋肉痛</th>
                        <th>だるさ</th>
                        <th>頭痛</th>
                        <th>喉痛</th>
                        <th>息切れ</th>
                        <th>咳・くしゃみ</th>
                        <th>吐き気</th>
                        <th>腹痛</th>
                        <th>味覚異常</th>
                        <th>嗅覚異常</th>
                        <th>記録日</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in health_data %}
                        <tr>
                            {% for cell in row %}
                                <td>
                                    {% if cell == "あり" %}
                                        <span style="color: red;"><b>{{ cell }}</b></span>
                                    {% else %}
                                        {{ cell }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <input id="activity-tab" type="radio" name="TAB" class="tab-switch" />
            <label class="tab-label" for="activity-tab">行動記録表</label>
            <div class="tab-blank"></div>
            <div class="tab-content">
                <table>
                    <thead>
                    <tr>
                        <th>開始時間</th>
                        <th>終了時間</th>
                        <th>場所</th>
                        <th>移動方法</th>
                        <th>出発地</th>
                        <th>到着地</th>
                        <th>同行者数</th>
                        <th>特記事項</th>
                        <th>記録日</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in activity_data %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <input id="infection-tab" type="radio" name="TAB" class="tab-switch" />
            <label class="tab-label" for="infection-tab">感染記録表</label>
            <div class="tab-blank"></div>
            <div class="tab-content">
                <table>
                    <thead>
                    <tr>
                        <th>出校停止開始日</th>
                        <th>出校停止終了日</th>
                        <th>出校停止状況</th>
                        <th>医療機関名</th>
                        <th>医者名</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in infection_data %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <input id="vaccine-tab" type="radio" name="TAB" class="tab-switch" />
            <label class="tab-label" for="vaccine-tab">ワクチン接種記録表</label>
            <div class="tab-blank"></div>
            <div class="tab-content">
                <table>
                    <thead>
                    <tr>
                        <th>接種日時</th>
                        <th>接種ワクチン名</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in vaccine_data %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <input id="infected-tab" type="radio" name="TAB" class="tab-switch" />
            <label class="tab-label" for="infected-tab">感染者一覧</label>
            <div class="tab-blank"></div>
            <div class="tab-content">
                <table>
                    <thead>
                    <tr>
                        <th>学籍番号</th>
                        <th>氏名</th>
                        <th>発症日</th>
                        <th>出席可能日</th>
                        <th>病院名</th>
                        <th>医師名</th>
                        <th>ワクチン接種有無</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in infected %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <input id="pre-infected-tab" type="radio" name="TAB" class="tab-switch" />
            <label class="tab-label" for="pre-infected-tab">感染の疑いがある人</label>
            <div class="tab-blank"></div>
            <div class="tab-content">
                <table>
                    <thead>
                    <tr>
                        <th>学籍番号</th>
                        <th>氏名</th>
                        <th>ワクチン接種有無</th>
                        <th>体温</th>
                        <th>症状数</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in pre_infected %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script>
    document.querySelectorAll('.menuButton').forEach(button => {
        button.addEventListener('click', function(event) {
            event.stopPropagation();
            var menuId = this.getAttribute('data-menu');
            var menu = document.getElementById(menuId);
            if (menu.style.display === 'block') {
                menu.style.display = 'none';
            } else {
                document.querySelectorAll('.menu').forEach(m => m.style.display = 'none');
                menu.style.display = 'block';
            }
        });
    });

    document.addEventListener('click', function(event) {
        document.querySelectorAll('.menu').forEach(menu => {
            if (!menu.contains(event.target) && !event.target.matches('.menuButton')) {
                menu.style.display = 'none';
            }
        });
    });
    document.addEventListener("DOMContentLoaded",()=>{
        const a_members = document.querySelectorAll("a.a_members");
        a_members.forEach((a_member)=>{
            a_member.addEventListener("click",(e)=>{
                e.preventDefault();
                const value = e.target.innerText;
                const form = document.createElement('form');
                form.method = 'POST'; // or 'GET' depending on your needs
                form.action = '/fetch:{{ session["user_data"]["User_code"][0] }}'; // replace with your server endpoint URL

                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'filter_select';
                input.value = value;
                form.appendChild(input);

                document.body.appendChild(form);
                form.submit();
            })
        })
    })
</script>
</div>
</body>
</html>