<!doctype html>
<html lang="ja">
<head>
    <title>マイページ</title>
    <meta charset="utf-8">
</head>
<body>
<div id="mypage">
    <div id="header">
        <h1>マイページ</h1>
        <div id="user_info">
            こんにちは、{{ session["main_data"]["user_recode"]["User_code"][0] }} {{ session["main_data"]["user_recode"]["User_name"][0] }}さん!
        </div>
    </div>

    <div id="command">
        <button onclick="location.href = '/health'">体調観察表</button>
        <button onclick="location.href = '/behavior'">行動記録表</button>
        <button onclick="location.href = '/infection'">感染記録</button>
        <button onclick="location.href = '/login'">ログアウト</button>
    </div>
    <fieldset id="information">
        <legend><h3>お知らせ！</h3></legend>
        <p id="is_finished_health">☆☆☆今日の健康記録を入力してください☆☆☆</p>
        <p id="is_finished_behavior">☆☆☆今日の行動記録を入力してください☆☆☆</p>
    </fieldset>

</div>
</body>
</html>
