<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/change-tab.css') }}">
	<title>Test</title>
</head>
<body>
	<h1>test</h1>
	<input type="date"/>
	<input type="time"/>
	<input type="datetime-local"/>
	<a href="/login">サインイン</a>
	<a href="/signup">サインアップ</a>
    <div id="logs-table">
        <div class="tab-wrap">
            <input id="health-tab" type="radio" name="TAB" class="tab-switch" />
            <label class="tab-label" for="health-tab">体調観察表</label>
            <div class="tab-content">
                コンテンツ1
            </div>

            <input id="activity-tab" type="radio" name="TAB" class="tab-switch" />
            <label class="tab-label" for="activity-tab">行動記録表</label>
            <div class="tab-content">
                コンテンツ2
            </div>

            <input id="infection-tab" type="radio" name="TAB" class="tab-switch" />
            <label class="tab-label" for="infection-tab">感染記録表</label>
            <div class="tab-content">
                コンテンツ3
            </div>
        </div>
    </div>

</body>
</html>

