<!DOCTYPE html>
<html lang="ja">
<head>
    <title>行動記録入力フォーム</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/behavior.css') }}">
</head>
<body>

<div class="container">
    <div class="head">
        <h2>行動記録入力フォーム</h2>
    </div>

    <form action="/mypage/edit/result" method="post">
        <table>
            <tr>
                <td><label>開始時間:</label></td>
                <td><input type="datetime-local" name="Action_starttime" required></td>
            </tr>
            <tr>
                <td><label>終了時間:</label></td>
                <td><input type="datetime-local" name="Action_endtime" required></td>
            </tr>
            <tr>
                <td><label>場所:</label></td>
                <td><input type="text" name="Move_location" required></td>
            </tr>
            <tr>
                <td><label>移動方法:</label></td>
                <td><input type="text" name="Move_method" required></td>
            </tr>
            <tr>
                <td><label>出発地:</label></td>
                <td><input type="text" name="Departure" required></td>
            </tr>
            <tr>
                <td><label>到着地:</label></td>
                <td><input type="text" name="Arrival" required></td>
            </tr>
            <tr>
                <td><label>同行者:</label></td>
                <td>
                    <label>
                        <input type="radio" name="Is_companions" value="1">はい
                        <input type="radio" name="Is_companions" value="0" checked>いいえ
                    </label>
                </td>
            </tr>
            <tr>
                <td><label>間柄と人数:</label></td>
                <td><input type="text" name="Companions"></td>
            </tr>
            <tr>
                <td><label>特記事項:</label></td>
                <td><input type="text" name="Special_notices" maxlength="50"></td>
            </tr>
        </table>

        <button type="submit">送信</button>
        <button type="reset">消去</button>
    </form>
</div>

</body>
</html>
