<!DOCTYPE html>
<html lang="ja">
<head>
    <title>感染記録</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
</head>
<body>
    {% if result %}
        {{result | safe}}
    {% endif %}
    <div class="container">
        <div class="head">
            <h2>感染記録</h2>
        </div>
        <form action="#" method="post">
            <table>
                <tr>
                    <td>感染しましたか？</td>
                    <td>
                        <label>
                            <input type="radio" name="Infection_status" value="1">はい
                            <input type="radio" name="Infection_status" value="0" checked>いいえ
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>出席停止日:</td>
                    <td><input type="date" name="Infection_start" required></td>
                </tr>
                <tr>
                    <td>出席開始日:</td>
                    <td><input type="date" name="Infection_stop" required></td>
                </tr>
                <tr>
                    <td>病院:</td>
                    <td><input type="text" name="medical_name"></td>
                </tr>
                <tr>
                    <td>先生:</td>
                    <td><input type="text" name="doctor_name"></td>
                </tr>
            </table>
            <button type="reset">消去</button>
            <button type="submit">送信</button>
        </form>
    </div>
</body>
</html>
