<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vaccine.css') }}">
    <title>ワクチン接種</title>
</head>
<body>
    <div class="container">
        <div class="head">
            <h2>ワクチン接種</h2>
        </div>
        <form action="/mypage/edit/result" method="post">
            <table>
                <tr>
                    <td>接種日</td>
                    <td><input type="date" name="vaccination_date" required></td>
                </tr>
                <tr>
                    <td>ワクチンの種類を選んでください:</td>
                    <td>
                        <select id="vaccine" name="vaccine">
                            <option value="pfizer">ファイザー</option>
                            <option value="moderna">モデルナ</option>
                            <option value="other">その他</option>
                        </select>
                    </td>
                </tr>
            </table>
            <button type="submit">送信</button>
            <button type="reset">消去</button>
        </form>
    </div>
</body>
</html>
